<!-- Wrapper -->
<div id="wrapper">

	<!-- Header Container
	================================================== -->
	<!-- test if user is logged in then show connected navbar -->
	<!-- <app-header></app-header> -->
	<app-connected></app-connected>
	<!-- Header Container / End -->
	
	
	
	<!-- Intro Banner
	================================================== -->
	
	
	<router-outlet></router-outlet>
	
	<!-- Footer
	================================================== -->
	<app-footer></app-footer>
	<!-- Footer / End -->
	
	</div>
	<!-- Wrapper / End -->
	